* {
	padding: 0;
	margin: 0
}

.header {
	padding: 10px;
	background-color: #636bff;
	margin: 0 auto;
	font-size: 32px;
	color: white;
	margin-bottom: 10px;
	height: 100px;
}


.logo {
	float: left;
	padding-left: 60px;
	width: 100px;
	height: 100px;
	margin-right: 40px;
}


#navigation {
	max-width: 960px;
	text-align: center;
	margin: 0 auto;
	background-color: #CCC;
	padding: 30px;
	margin-bottom: 10px;
}

#navigation a{
	margin: 60px;
}

.links {
	max-width: 960px;
	margin: 0 auto;
	background-color: #DDD;
	padding: 30px;
	margin-bottom: 10px;
}


.table {
	max-width: 960px;
	margin: 0 auto;
	background-color: #CCC;
	padding: 30px;
	margin-bottom: 10px;
	
}

.form {
	max-width: 960px;
	margin: 0 auto;
	background-color: #CCC;
	padding: 30px;
	margin-bottom: 10px;
}



td, th {
	width: 200px;
	height: 200px;
	padding: 10px;
	font-style: italic;
	font-size: 18px;
}


tr:nth-child(odd) {
	background-color: #636bff;
}


tr:nth-child(even) {
	background-color: white;
}


.footer {
	text-align: center;
	margin: 0 auto;
	background-color: #636bff;
	padding: 30px;
	font-style: italic;
	font-size: 20px;
	color: white;
}